{% extends 'chatapp/base.html' %}
{% load static %}

{% block stylesheet %}
 <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center logo my-4">
			<a href="{% url 'homepage' %}">Love To Travel</a>
		</h1>
		<h2>Sign Up</h2>
		<form method="post" >
		{% csrf_token %}
		{{ form.as_p }}
			<button type="submit" class="btn btn-primary">Create an account</button>
		</form>
		<div class="container">
			Already have an Account?<a href="#">Log in</a>
		</div>
	</div>
{% endblock %}
