<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>Countries</h1>

		<table border = "1">
			<thead>
				<tr>
					<th>Country</th>
					<th>State</th>
					<th>VisitingPlaces</th>
					<th>Posts</th>
					<th>Last Post</th>
				</tr>
			</thead>
			<tbody>
				{% for country in countries %}
					<tr>
						<td>
							{{country.name}}<br>
							<small style="color:#888">{{country.description}}</small>
						</td>
						<td>{{states}}</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
			
		<p>Click <a href="/chatapp/logout">Here</a></p>
	</body>
</html>